body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.wrapper{
    background-color: lightcoral;
    height: 100%;
    width: 100%;
}

header{
    background-color: whitesmoke;
    text-align: center;
    margin: 0;
    font-size: 1.7rem;
}

header h1{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 45%;
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}

.button p{
    font-size: 2rem;
    font-family: 'Cormorant Infant', serif;
    margin: 30px;
    text-align: center;
}

.button:hover{
    color: red;
    background-color: white;
}

.text_box{
    background-color: whitesmoke;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
}

.text_box p{
    margin: 20px;
    font-size: 1.2rem;
}

@media screen and (min-width: 400px){
    header{
        font-size: 2rem;
    }
}

@media screen and (min-width: 700px){
    .text_box{
        width: 70%;
    }
}